In [1]:
import pandas as pd 
import numpy as np

from src.components.data_transformation import DataTransformation, DataCleaning

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
cleaning = DataCleaning()
train_data, test_data = cleaning.initiate_data_cleaning(train, test)

In [4]:
data_transformation=DataTransformation()
input_feature_train_arr = data_transformation.initiate_data_transformation(train_data,test_data)

In [5]:
input_feature_train_df

,company,diameter,topping,variant,size,extra_sauce,extra_cheese,extra_mushrooms
0,C,8.5,vegetables,thai_veggie,small,no,yes,yes
1,C,14.0,tuna,neptune_tuna,large,yes,yes,no
2,B,17.0,chicken,new_york,XL,no,yes,no
3,A,22.0,chicken,double_signature,jumbo,yes,yes,no
4,A,8.0,smoked_beef,super_supreme,reguler,yes,yes,no
...,...,...,...,...,...,...,...,...
98,E,8.5,mushrooms,classic,small,yes,yes,no
99,A,12.0,mozzarella,super_supreme,reguler,no,yes,no
100,D,12.0,mozzarella,crunchy,medium,no,no,yes
101,C,14.0,tuna,spicy_tuna,large,yes,yes,yes
102,E,14.0,smoked_beef,classic,large,yes,no,no

In [6]:
target_feature_train_df

0       39000
1       92000
2       83000
3      235000
4       70000
        ...
98      31000
99      90000
100     49000
101     99000
102     72000
Name: price, Length: 103, dtype: int32

In [5]:
input_feature_train_arr

<103x50 sparse matrix of type '<class 'numpy.float64'>'
	with 824 stored elements in Compressed Sparse Row format>

In [6]:
print(input_feature_train_arr)

  (0, 0)	-1.4229919784013825
  (0, 3)	1.0
  (0, 17)	1.0
  (0, 37)	1.0
  (0, 43)	1.0
  (0, 44)	1.0
  (0, 47)	1.0
  (0, 49)	1.0
  (1, 0)	0.30688990092132795
  (1, 3)	1.0
  (1, 16)	1.0
  (1, 32)	1.0
  (1, 40)	1.0
  (1, 45)	1.0
  (1, 47)	1.0
  (1, 48)	1.0
  (2, 0)	1.2504618350973518
  (2, 2)	1.0
  (2, 8)	1.0
  (2, 33)	1.0
  (2, 38)	1.0
  (2, 44)	1.0
  (2, 47)	1.0
  (2, 48)	1.0
  (3, 0)	2.823081725390725
  :	:
  (99, 48)	1.0
  (100, 0)	-0.3221580551960213
  (100, 4)	1.0
  (100, 10)	1.0
  (100, 23)	1.0
  (100, 41)	1.0
  (100, 44)	1.0
  (100, 46)	1.0
  (100, 49)	1.0
  (101, 0)	0.30688990092132795
  (101, 3)	1.0
  (101, 16)	1.0
  (101, 35)	1.0
  (101, 40)	1.0
  (101, 45)	1.0
  (101, 47)	1.0
  (101, 49)	1.0
  (102, 0)	0.30688990092132795
  (102, 5)	1.0
  (102, 15)	1.0
  (102, 22)	1.0
  (102, 40)	1.0
  (102, 45)	1.0
  (102, 46)	1.0
  (102, 48)	1.0

In [ ]:
train_arr = np.c_[input_feature_train_arr, np.array(target_feature_train_df)]